
/*标题*/
h1{
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
/*标题栏*/
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
/*内容*/
.tbl-content{
  /*height:300px;*/
  overflow-x:auto;
  background-color: rgba(255,255,255,0.05);
  margin-top: 0px;
  border: 2px solid rgba(255,255,255,0.3);
}
/*行标题*/
th{
  padding: 12px 10px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border-top: solid 1px rgba(255,255,255,0.33);
}

/*行内容*/
td{
  padding: 6px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.33);
  border-left: solid 1px rgba(255,255,255,0.33);
  border-right: solid 1px rgba(255,255,255,0.33);
}


/* demo styles */
/*背景*/
@import url(css.css);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
/*背景*/
section{
  margin: 12px;
}



/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

/* From www.lingdaima.com */
.card {
 width: 190px;
 height: 254px;
 border-radius: 30px;
 background: #e0e0e0;
 box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}