:root{

    --sidebar-width:250px;
    --highlight-color:orange;
    --support-color:grey;
    --border-radius:12px;
    --color1:#a7cee0;
    --color2:#d0dea7;
    --border:1px;
    --blur:6px;
    --opacity:0.25;
    --text-color:rgb(128, 128, 128, calc(var(--opacity)*4));
}
#workspace-div{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background:linear-gradient(135deg, var(--color1) 50%, var(--color2));
	
    max-width: 100%; /* 最大宽度为100% */
    overflow-x: auto; /* 横向溢出时显示滚动条 */
}
#circle-org{
    width:165px;
    height:165px;

    border-radius: 50%;
    margin-top: -250px;
    margin-right: -155px;
    background: linear-gradient(135deg,#ffb566,#ff6677);
}
#circle-blue{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-top: 255px;
    margin-left: -165px;
    background: linear-gradient(135deg,#de82ca,#259fac);
}

body{
    margin: 0px;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    
}
.panel{
  flex-grow: 1;
  
  padding-top:30px;
  padding-bottom:30px;
  padding-right:20px;
  padding-left:20px;
  margin-top:16px;
  margin-bottom:16px;
  margin-right:8px;
  margin-left:8px;
  
  font-style:;
  font-variant-ligatures:;
  font-variant-caps:;
  font-variant-numeric:;
  font-variant-east-asian:;
  font-variant-alternates:;
  font-variant-position:;
  font-stretch:;
  font-size:;
  line-height:;
  font-family:;
  font-optical-sizing:;
  font-kerning:;
  font-feature-settings:;
  font-variation-settings:;
  font-weight:100;
  
  background-color: rgba(255, 255, 255, 0.35);
	backdrop-filter: blur(6.5px);
	-webkit-backdrop-filter: blur(6.5px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
	-webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	color: rgb(255, 255, 255);
}

.welcome{
  text-align:center;
  font-weight:100;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
}
.logo path{
  pointer-events:none;
  fill:none;
  stroke-linecap:round;
  stroke-width:7;
  stroke:rgb(255, 255, 255);
}
.big-title{
  text-align:center;
  font-size:3.5rem;
  margin-top:15px;
  margin-right:0px;
  margin-bottom:15px;
  margin-left:0px;
}
.description{
  text-align:center;
  font-size:1rem;
  line-height:1.5rem;
  margin-bottom:1rem;
}
.c1739{
  background-image:url(https://static.htmlpage.cn/editor/images/bg_0.svg);
}




table{
  border: none;
    width: 100%; /* 让表格宽度占满容器 */
    border-collapse: collapse; /* 合并表格边框 */
}
/*标题栏*/
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
/*内容*/
.tbl-content{
  /*height:300px;*/
  flex-grow: 1;
  overflow-x:auto;
  background-color: rgba(255,255,255,0.05);
  margin-top: 0px;
}
/*行标题*/
th{
  padding: 10px 10px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(255,255,255,0.3);
  border-left: 1px solid rgba(255,255,255,0.5);
  border-right: none;
}
/*行内容*/
td{
  padding: 6px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #000;
  border: solid 2px rgba(255,255,255,0.33);
}


@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }

    #workspace-div{
        width:100vw;
		height:auto;
        overflow:scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background:linear-gradient(135deg, var(--color1) 50%, var(--color2));
    }


    #circle-org{
        width:120px;
        height:120px;
        border-radius: 50%;
        margin-top: -230px;
        margin-right: -125px;
        background: linear-gradient(135deg,#ffb566,#ff6677);
    }

    #circle-blue{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: 150px;
        margin-left: -85px;
        background: linear-gradient(135deg,#de82ca,#259fac);
    }

    #subject-div{
        width:420px;
        height:260px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}